

.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/*nav style */

.nav{
    display: flex;
    color: #0E0E0E;
    font-size: 32px;
    font-weight: 700;
}

.nav-button{
    color: #006A50;
    width: 100px;
    height:45px;
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    

    

   


}

nav ul{
    display: flex;
  justify-content: space-between;
}

/*nav style */

#content-1{

    width: 622px;
    height: 28px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16;
    padding: 0px;

    color: rgba(14, 14, 14, 0.5);
}

#content-2{

    width: 622px;
    height: 201px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16;
    padding: 0px;
    color: rgb(14, 14, 14);
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
}

#content-3{

    width: 270px;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 48;
    padding: 17px 34px 17px 34px;

    border-radius: 8px;
    background: rgb(0, 106, 80);
}
#content-4{

    width: 474.03px;
    height: 329.21px;
    left: 157.37%;
    right: -157.37%;
    top: 20%;
    bottom: -2.3%;
}
.banner{

    display: flex;
    justify-content: space-between;
    width: 1280px;
    height: 560px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 64;
    padding: 80px 100px 80px 100px;
    flex-grow: 0;
    margin: 80px 0px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    position: static;
}


